
        body {
            background: #1b1b1b;
            color: #fff;
        }

        table {
            border-collapse: collapse;
            width: 80%;
            font-size: 1.3rem;
        }

        button {
            background: #000;
            color: #fff;
            width: 150px;
            height: 50px;
            margin-top: 50px;
            border-radius: 5px;
            font-size: 1.3rem;
            cursor: pointer;
        }

        .button-group {
            margin-top: 50px;
            display: flex;
            justify-content: space-evenly;
        }

        .input-wrapper {
            margin-bottom: 50px;
            font-size: 1.5rem;
        }

        .input-wrapper,
        input {
            width: 200px;
            height: 25px;
            font-size: 1.2rem;
        }

        #category-data tr {
            text-align: center;
        }

        .table-wrapper {
            display: flex;
            justify-content: space-between;
        }

        .table-data {
            justify-content: space-around;
            display: flex;
            align-content: center;
            flex-wrap: nowrap;
            flex-direction: row;
        }

        th {
            border: 1px solid;
            background: #fff;
            color: #000;
        }

        tr {
            text-align: left;
        }    